.mat-column-name {
    flex: 0 0 250px;
}

.mat-column-qualite {
    flex: 0 0 100px;
}

.mat-column-langue {
    flex: 0 0 100px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .mat-row {
        display: contents;
    }
}